@font-face {
    font-family: Leitura-Grot2;
    src: url(LeituraSans-Grot2.otf);
}
    
    
    .navbar{
        background-color: #cc2452
    }

    .navbar1{
        background-color: black;
    }

    .img{
        width: 10%;
    }

    .img1{
        width: 100%;
    }

    .btn, .btn1, .btn2{
   background-color: transparent;
   color:white;
   border: 1.5px solid rgb(255, 255, 255);
   border-radius: 40px;
   line-height: 1.3;
   letter-spacing: 0.1em;
   transition: all 1s ease;
    background: transparent;
    color: wheat;
 }
    .btn1{
        margin: 3px;
    }

    .btn3{

    }

    .custom-select{
        background-color: transparent;
        color:white;
        border: 1.5px solid #ec407a;
        border-radius: 40px;
        line-height: 1.3;
        letter-spacing: 0.1em;
        transition: all 1s ease;
         background: transparent;
         color: wheat;

    }

    #root {
        display: flex;
        justify-content: center;
    }

    #body{
        background-color: black;
    }

    .card{
        margin: 30px 10px 10px 10px;
        width: 30px;
        height: 500px;
        background-color: black;
        border-radius: 4px;
        color: white;
        border: 1px solid white;
    }

    #img2{
        width: 290px;
        height: 400px;
        border: 2px solid white;
    }

    .card-title{
        font-family: Leitura-Grot2;
        font-size: 20px;
        font-weight: 2px;
    }

    .img1{
        border-radius: 2px;
    }
